
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css"/>
		{% block css %}
		{% endblock %}
		{% block script %}
		{% endblock %}
		<title>Audrey Leila</title>
	</head>
	<body>
		<div id="container" class="shadow">
			<div id="header"></div>
			<div id="horizontal-break"></div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
			<div id="footer"></div>
		</div>
	</body>
</html>
